In [1]:
import pandas as pd
dataset=pd.read_csv("insurance_pre.csv")
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)
dataset.columns
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent
dependent=dataset[['charges']]
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [2]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [3]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [4]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [35]:
from sklearn.tree import DecisionTreeRegressor
regressor=DecisionTreeRegressor(criterion='friedman_mse', splitter='random')
regressor=regressor.fit(X_train,Y_train)

In [36]:
y_pred=regressor.predict(X_test)

from sklearn.metrics import r2_score
r_score=r2_score(Y_test,y_pred)
r_score

0.7309363660270951